@page "/"

@page "/ParsMarket"
[]
@*<div class="master-wrapper">*@


<Slider></Slider>
<Banners></Banners>

<ParsMarkt.Pages.Products.NewProducts></ParsMarkt.Pages.Products.NewProducts>
<ParsMarkt.Pages.Products.MostPapular></ParsMarkt.Pages.Products.MostPapular>

<LatestNews></LatestNews>
@*<Brands></Brands>
<Footer></Footer>*@

@*</div>*@

@code{

}
