@inherits LayoutComponentBase


<div class="master-wrapper">
    <HeaderAdmin />
    <ParsMarkt.Shared.Admin.NavMenu></ParsMarkt.Shared.Admin.NavMenu>
    <div class="container">
        <div class="push-up blocks-spacer">
            <div class="row">
                <section class="span12">

                    @Body

                </section> <!-- /main content -->
            </div>
        </div>
    </div>

</div>
